<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI testen BCA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>BMI testen BCA</h2>
    
    <form method="POST">
        <label for="weight">Gewicht (kg):</label>
        <input type="number" name="weight" step="0.1" required>

        <label for="height">Lengte (cm):</label>
        <input type="number" name="height" required>

        <button type="submit">Bereken BMI</button>
    </form>

    {% if bmi %}
    <h3>Jouw BMI: {{ bmi }}</h3>
    <p>{{ advice }}</p>

    <div class="bmi-bar-container">
        <div class="bmi-bar" style="left: calc({{ ((bmi - 10) / 30) * 100 }}% - 7px);"></div>